@import '../styles/variables';

.main{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.title{
  color: $base-color;
  margin: auto;
  max-width: 450px;
  text-align: center;
}

.navigation{
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.link{
  color: $base-color;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  opacity: 0.6;
  transition: opacity .2s;
  max-width: 200px;
  text-align: center;
  &:hover{
    opacity: 1;
  }
}