@import '../../styles/variables';

.form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.title{
  color: $base-color;
  margin: auto;
  max-width: 450px;
}

.button{
  width: 150px;
  padding: 15px 10px;
  font-size: 15px;
  background: $base-color;
  border: 1px solid $light-button-color;
  box-sizing: border-box;
  color: $light-button-color;
  cursor: pointer;
  transition: background .2s;
  &:hover{
    background: $hovered-base-color;
  }
}

.link{
  color: $base-color;
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
  opacity: 0.6;
  transition: opacity .2s;
  max-width: 200px;
  text-align: center;
  &:hover{
    opacity: 1;
  }
}